#ViewSupervisorScheduleBase{
    min-height: inherit;
    min-width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-size: 30px;
}


#ViewSupervisorScheduleBase #title{
    height: 5vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#ViewSupervisorScheduleBase #Schedules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#ViewSupervisorScheduleBase #Schedules .schedule{
    width: 90%;
    margin-top: 2vh;
    font-size: 0.9em;
    border-radius: 2vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

#ViewSupervisorScheduleBase #Schedules .schedule .info{
    margin-left: 5%;
    width: 70%;
}
