#StudentFYPTopicsBase{
    min-height: inherit;
    min-width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-size: 30px;
}


#StudentFYPTopicsBase #title{
    height: 5vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#StudentFYPTopicsBase #search{
    height: 5vh;
    width: 100%;
}

#StudentFYPTopicsBase #search form{
    height: 100%;
    width: 100%;
    box-shadow: inset 0 2px 0 0 black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#StudentFYPTopicsBase #search form .input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 100%;
    font-size: 0.6em;
}

#StudentFYPTopicsBase #search form .input label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 100%;
}

#StudentFYPTopicsBase #search form .input input{
    width: 80%;
    height: 60%;
}

#StudentFYPTopicsBase #search form .inputGenre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 0.6em;
}

#StudentFYPTopicsBase #search form .inputGenre label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 100%;
}

#StudentFYPTopicsBase #search form .inputGenre #genre{
    margin-top: 0.5vh;
    width: 80%;
    height: 3vh;
}

#StudentFYPTopicsBase #search form button{
    height: 80%;
    width: 10%;
    background-color: black;
    color: white;
    font-size: 0.6em;
}

#StudentFYPTopicsBase #topicList{
    min-height: 70vh;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#StudentFYPTopicsBase #topicList .topic{
    margin-top: 3vh;
    cursor: pointer;
    border-radius: 1vw;
    min-height: 20vh;
    height: auto;
    width: 85%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

#StudentFYPTopicsBase #topicList .topic .topicInfo{
    font-size: 0.7em;
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

#StudentFYPTopicsBase #Controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10vh;
}

#StudentFYPTopicsBase #Controller button{
    height: 30%;
    width: 10%;
    font-size: 0.7em;
    font-weight: 500;
    background-color: black;
    color: white;
}

#StudentFYPTopicsBase #Controller button:disabled{
    opacity: 40%;
}

#StudentFYPTopicsBase #Controller p{
    font-size: 1em;
}

@media only screen and (max-width: 800px) {
    #StudentFYPTopicsBase{
        font-size: 30px;
    }

    #StudentFYPTopicsBase #search{
        display: none;
    }

    #StudentFYPTopicsBase #topicList .topic{
        min-height: 30vh;
    }

    #StudentFYPTopicsBase #title{
        padding-top: 3vh;
    }
}
