@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

#HeaderBase{
    min-width: inherit;
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 -3px 0 0 black;
}

#HeaderBase #Header{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#HeaderBase .Left h1{
    font-family: 'Noto Serif', serif;
    font-size: 2.5vh;
}

#HeaderBase .Right{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#HeaderBase .Right button{
    padding: 1vh 2vw;
    background-color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 1s;
}

#HeaderBase .Right button:hover{
    background-color: white;
    color: black;
}


@media only screen and (max-width: 600px) {
    #HeaderBase .Left{display: none;}
    #HeaderBase .Right{width: 100%;}
}

