#FYPTopicsBase{
    min-width: inherit;
    min-height: inherit;
    width: 100%;
    height: 100%;
}

#FYPTopicsBase #AddTopicButton{
    width: 90%;
    height: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#FYPTopicsBase #AddTopicButton{
    height: 5%;
    font-size: 40px;
    color: red;
}

#FYPTopicsBase #AddTopicButton #iconTitle{
    font-size: 20px;
}

#FYPTopicsBase #AddTopicButton #icon{
    cursor: pointer;
    font-size: 40px;
    color: red;
}

#FYPTopicsBase #title{
    height: 3%;
    padding-bottom: 1%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

#FYPTopicsBase #search{
    height: 8%;
    width: 100%;
}

#FYPTopicsBase #search form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 0 2px 0 0 black;
}

#FYPTopicsBase #search form .input{
    height: 35%;
    width: 25%;
}

#FYPTopicsBase #search form .input input{
    height: 80%;
    width: 100%;
}

#FYPTopicsBase #search form .inputGenre{
    height: 45%;
    width: 65%;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3%;
}

#FYPTopicsBase #search form .inputGenreSelect{
    max-height: 90%;
    width: 70%;
    max-width: 80%;
}

#FYPTopicsBase #search form #submit{
    height: 60%;
    width: 10%;
}

#FYPTopicsBase #search form #submit button{
    margin-left: -10%;
    height: 90%;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2vh;
}

#FYPTopicsBase #topicList{
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#FYPTopicsBase #topicList .topic{
    cursor: pointer;
    border-radius: 1vw;
    height: 20%;
    width: 80%;
    border: 2px solid black;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

#FYPTopicsBase #topicList .topic .topicInfo{
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

#FYPTopicsBase #Controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}

#FYPTopicsBase #Controller button{
    height: 30%;
    width: 10%;
    font-size: 2vh;
    font-weight: 500;
    background-color: black;
    color: white;
}

#FYPTopicsBase #Controller button:disabled{
    opacity: 40%;
}

#FYPTopicsBase #Controller p{
    font-size: 2.5vh;
}

@media only screen and (max-width: 600px) {
    #FYPTopicsBase #AddTopicButton #iconTitle{
        font-size: 16px;
    }
    #FYPTopicsBase #AddTopicButton #icon{
        font-size: 36px;
    }
    #FYPTopicsBase #search{
        display: none;
    }
    #FYPTopicsBase #topicList{
        height: 90%;
    }
}
